.container {
  background-color: $background-color;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

header,
main,
footer {
  box-sizing: border-box;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/pics/banner.jpg');
  background-size: cover;
  background-position: center;
  background-color: $primary-color;
  width: 100%;
  height: 1057px;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

header.menu-open::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondary-color;
  z-index: 8;
}

.logo-container {
  position: absolute;
  top: 13%;
  left: 3%;
  display: flex;
  align-items: center;
}

.nav-logo-container {
  position: absolute;
  top: 13%;
  left: 10%;
  display: none;
  align-items: center;
  z-index: 10;
}

.nav-logo-container.hidden {
  display: none;
}

.nav-logo-container:not(.hidden) {
  display: flex;
}

.textlogo {
  margin: 0;
  height: auto;
}

.logo {
  margin-left: -75px;
  margin-bottom: 15px;
  height: auto;
}

#menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 13%;
  right: 3%;
  z-index: 11;
}

#menu-button img {
  display: block;
  height: auto;
}

#menu-button img {
  content: url('../assets/buttons/menu1.png');
}

#menu-button.close img {
  content: url('../assets/buttons/close1.png');
}

#menu-button:hover img {
  content: url('../assets/buttons/menu2.png');
}

#menu-button.close:hover img {
  content: url('../assets/buttons/close2.png');
}

.banner-text {
  position: absolute;
  bottom: 11%;
  left: 7%;
  color: #ffffff;
  font-size: 70px;
  max-width: 60%;
  text-align: left;
  font-family: Urbanist;
  font-style: normal;
  font-size: 55px;
  font-family: Urbanist;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 1.56px;
}

.nav-tab {
  color: $primary-color;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 70%;
  height: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  z-index: 9;
  transition: transform 0.3s ease;
}

.nav-tab.hidden {
  display: none; /* Hide main nav bar */
}

.nav-tab.visible {
  display: grid; /* Show main nav bar */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  font-family: Urbanist;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 1.11px;
}

.touch.grid-item {
  color: #757471;
  font-size: 27px;
}

.services.grid-item:hover {
  color: #9a7402;
  transition: transform 1s ease;
}

.grid-item a {
  text-decoration: none;
  color: inherit;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: gray;
}

.sub-navbar {
  color: $primary-color;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 70%;
  height: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 0;
  z-index: 10;
  transition: transform 0.3s ease;
}

.sub-navbar.visible {
  display: grid; /* Show sub-navbar */
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

.sub-menu .grid-item {
  font-size: 20px;
  letter-spacing: 0.96px;
}

#back-button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #757471;
  cursor: pointer;
  z-index: 10;
}

#back-button img {
  display: inline;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $background-color;
  overflow-x: hidden;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
}
