.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.column {
  flex: 1 1 100%;
  padding: 10px;
  background-color: #f4f4f4;
}

@include respond-to(tablet) {
  .column {
    flex: 1 1 50%;
  }
}

@include respond-to(desktop) {
  .column {
    flex: 1 1 33%;
  }
}
