$primary-color: #000000;
$secondary-color: #ffffff;
$background-color: #afafaf;
$theme-color: rgb(255, 251, 239);
$text-color: #000000;

// Breakpoints for responsive design
$mobile: 576px;
$desktop: 1024px;
