.container {
  background-color: #afafaf;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/pics/banner.jpg");
  background-size: cover;
  background-position: center;
  background-color: #000000;
  width: 100%;
  height: 1057px;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
}

header.menu-open::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 8;
}

.logo-container {
  position: absolute;
  top: 13%;
  left: 3%;
  display: flex;
  align-items: center;
}

.nav-logo-container {
  position: absolute;
  top: 13%;
  left: 10%;
  display: none;
  align-items: center;
  z-index: 10;
}

.nav-logo-container.hidden {
  display: none;
}

.nav-logo-container:not(.hidden) {
  display: flex;
}

.textlogo {
  margin: 0;
  height: auto;
}

.logo {
  margin-left: -75px;
  margin-bottom: 15px;
  height: auto;
}

#menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 13%;
  right: 3%;
  z-index: 11;
}

#menu-button img {
  display: block;
  height: auto;
}

#menu-button img {
  content: url("../assets/buttons/menu1.png");
}

#menu-button.close img {
  content: url("../assets/buttons/close1.png");
}

#menu-button:hover img {
  content: url("../assets/buttons/menu2.png");
}

#menu-button.close:hover img {
  content: url("../assets/buttons/close2.png");
}

.banner-text {
  position: absolute;
  bottom: 11%;
  left: 7%;
  color: #ffffff;
  font-size: 70px;
  max-width: 60%;
  text-align: left;
  font-family: Urbanist;
  font-style: normal;
  font-size: 55px;
  font-family: Urbanist;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 1.56px;
}

.nav-tab {
  color: #000000;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 70%;
  height: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  z-index: 9;
  transition: transform 0.3s ease;
}

.nav-tab.hidden {
  display: none; /* Hide main nav bar */
}

.nav-tab.visible {
  display: grid; /* Show main nav bar */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  font-family: Urbanist;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 1.11px;
}

.touch.grid-item {
  color: #757471;
  font-size: 27px;
}

.services.grid-item:hover {
  color: #9a7402;
  transition: transform 1s ease;
}

.grid-item a {
  text-decoration: none;
  color: inherit;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: gray;
}

.sub-navbar {
  color: #000000;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 70%;
  height: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 0;
  z-index: 10;
  transition: transform 0.3s ease;
}

.sub-navbar.visible {
  display: grid; /* Show sub-navbar */
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

.sub-menu .grid-item {
  font-size: 20px;
  letter-spacing: 0.96px;
}

#back-button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #757471;
  cursor: pointer;
  z-index: 10;
}

#back-button img {
  display: inline;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #afafaf;
  overflow-x: hidden;
}

footer {
  background-color: rgb(255, 254, 253);
  color: rgb(75, 75, 75);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Urbanist;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 159%;
  letter-spacing: 0.6px;
}

footer a {
  color: rgb(75, 75, 75);
  text-decoration-line: underline;
}

.image-spacing {
  margin-right: 30px;
}

.socials {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 189%;
  color: gray;
}

.left-content,
.right-content {
  flex: 1;
}

/* Footer Top */
.footer-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 5%;
}

.footer-top .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.footer-top .left-content {
  text-align: left; /* Ensure left alignment for footer-top left content */
}

.footer-top .right-content {
  text-align: right; /* Ensure right alignment for footer-top right content */
}

.footer-top .right-content .hours {
  padding-right: 32%; /* Ensure left alignment for footer-top right hours label */
}

/* Footer Separator Line */
.footer-line {
  width: 90%;
  height: 1px;
  background-color: gray;
  margin: 0 auto;
  display: block;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 5%;
  box-sizing: border-box;
}

.footer-bottom .left-content {
  text-align: left; /* Left align for footer bottom left content */
}

.footer-bottom .right-content {
  text-align: right; /* Right align for footer bottom right content */
}

/*# sourceMappingURL=main.css.map */
